/* CSS checked x unchecked o 
redundant checked o unchecked x 
double css checked o unchecked x  */
.Aboutsection {
  margin-bottom: 50px;
}
.Aboutsection .aboutbox {
  padding: 0 100px;
}
.Aboutsection .profilepicture {
  height: 400px;
  filter: drop-shadow(-25px -20px 1px var(---baselight));
  z-index: -10;
}
.Aboutsection .abouttext {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}
.Aboutsection .abouttext p {
  padding: 90px 120px 0 140px;
  font-size: 20px;
}
.Aboutsection .abouttext button {
  display: inline-block;
  margin: 0 auto;
  padding: 0 20px 4px 20px;
  border: none;
  background-color: #00000000;
  color: var(---baselight);
  transition: all 0.4s ease;
}

.Aboutsection .abouttext button:hover {
  border: none;
  background-color: var(---baselight);
  color: var(---base);
}
/* code CODE code */
.Aboutsection .codeimage {
  position: relative;
  margin: 25px 0 0 80px;
  padding: 60px 0 0 20px;
  height: 292px;
  width: 468px;
  background-image: url("../../media/codelight.png");
  background-repeat: no-repeat;
  background-size: cover;
  font-size: 20px;
  font-weight: 800;
  line-height: 33px;
  font-family: "Patrick Hand SC", cursive;
  letter-spacing: 1.4px;
  z-index: 1;
}
.Aboutsection .codeimage .colorone {
  color: var(---basedark);
}
.Aboutsection .codeimage .colortwo {
  color: var(---baselight);
}
.Aboutsection .codeimage .colorthree {
  color: var(---secondary);
}
