/* CSS checked o unchecked x 
redundant checked o unchecked x 
double css checked o unchecked x  */
.Projectsection {
  padding-bottom: 40px;
  background-color: var(---basedark);
  color: var(---base);
}

.Projectsection h4 {
  font-size: 80px;
  font-weight: 900;
}
.Projectsection img {
  max-width: 60%;
}

.Projectsection a {
  display: inline-block;
  margin: 10px;
  padding: 7px 12px;
  box-shadow: 2px 1px 4px 3px #001a323b;
  font-size: 12px;
  text-decoration: none;
}

.Projectsection a:hover {
  background-color: var(---base);
  border: 1px solid var(---basedark);
  color: var(---basedark);
}
.Projectsection .projectmargin {
  align-items: center;
  margin-top: -10px;
}
.Projectsection .projectIntro {
  font-size: 20px;
}
.Projectsection .projectTools {
  opacity: 0.7;
}
.Projectsection .projectImageright {
  float: right;
  margin-right: 50px;
}
.Projectsection .projectImageleft {
  float: left;
  margin-left: 50px;
}

.Projectsection .projectTextleft {
  padding-left: 150px;
}
.Projectsection .projectTextright {
  padding-right: 150px;
}
.Projectsection .projectIntro button {
  padding: 0 12px;
  border: none;
  background-color: #00000000;
  color: var(---baselight);
  transition: all 0.4s ease;
}

.Projectsection .projectIntro button:hover {
  border: none;
  background-color: var(---base);
  color: var(---basedark);
}

@media (max-width: 960px) {
  .Projectsection .projectdescription {
    font-size: 12px;
  }
  .Projectsection .projectmargin {
    margin-top: -2px;
  }
  .Projectsection .projectTextleft {
    padding-left: 100px;
  }
  .Projectsection .projectTextright {
    padding-right: 100px;
  }
}

@media (max-width: 800px) {
  .Projectsection a {
    font-size: 10px;
  }
}
