/* CSS checked x unchecked o */
.Aboutme {
  background-size: 100px 100px, 20px 20px;
  background-image: conic-gradient(
      at calc(100% - 1px) calc(100% - 1px),
      #106bb720 270deg,
      rgba(0, 0, 0, 0) 0
    ),
    conic-gradient(
      at calc(100% - 1px) calc(100% - 1px),
      #106cb790 270deg,
      rgba(255, 0, 0, 0) 0
    );
}
.Aboutme .aboutmepage {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  margin-top: -140px;
  text-align: center;
}
.Aboutme h1 {
  margin: 140px 0 0 10px;
  text-align: left;
  font-size: 120px;
  font-weight: 900;
  font-family: "Montserrat", sans-serif;
  color: var(---basedark);
  letter-spacing: -7px;
}

/*  */

.Aboutme .aboutInfo {
  margin: 30px 100px 50px 100px;
  box-shadow: 2px 1px 5px 1px #4e59612f;
  background-color: var(---base);
  text-align: left;
  font-size: 16px;
  line-height: 1.7;
}
.Aboutme img {
  max-width: 360px;
  filter: sepia(0.2);
}
.Aboutme figcaption {
  max-width: 360px;
  background-color: var(---basedark);
  text-wrap: wrap;
  font-size: 10px;
  font-weight: 100;
  color: var(---base);
  letter-spacing: 1.5px;
}
.Aboutme button {
  display: inline-block;

  box-shadow: 2px 1px 5px 1px #4e59612f;
  font-size: 16px;
}
.Aboutme button:hover {
  background-color: var(---basedark);
  color: var(---base);
}
.Aboutme .aboutImage {
  float: right;
  margin: -30px -35px 20px 5px;
  box-shadow: 2px 2px 5px 1px #4e59612f;
  font-size: 14px;
}

/*  */
@media (max-width: 1024px) {
  .Aboutme h1 {
    font-size: 110px;
  }
  .Aboutme img {
    max-width: 270px;
  }
  .Aboutme figcaption {
    max-width: 270px;
  }
}
@media (max-width: 768px) {
  .Aboutme h1 {
    font-size: 90px;
  }
}
