/* CSS checked x unchecked o 
redundant checked o unchecked x 
double css checked o unchecked x  */
.Contact {
  background-color: var(---base);
}
.Contact .contactpage {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  text-align: center;
}
.Contact h1 {
  margin: 0px 0 40px 10px;
  text-align: left;
  font-size: 120px;
  color: var(---baselight);
  font-weight: 900;
  font-family: "Montserrat", sans-serif;
  letter-spacing: -7px;
}
.Contact h2 {
  font-size: 30px;
  font-weight: 100;
  color: var(---baselight);
  letter-spacing: 3px;
}
/* contact */
.Contact .contactbox {
  width: max-content;
  margin: 0 80px;
  border: 8px double var(---baselight);
}
.Contact ul {
  margin: 0;
  padding: 5px 20px 5px 20px;
  text-align: left;
  line-height: 3;
  list-style: none;
  font-size: 18px;
}
.Contact .highlight {
  padding: 0 5px 0 0;
  font-weight: 100;
  color: var(---baselight);
  letter-spacing: 2px;
}
