/* CSS checked x unchecked o 
redundant checked o unchecked x 
double css checked o unchecked x  */
.Cv {
  background-color: var(---base);
  color: var(---basedark);
}

.Cv .cvpage {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  text-align: left;
}
.Cv main {
  margin: 15px 80px;
  padding: 0 10px 10px 10px;
  box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.295);
  background-color: #fdfcf4;
}
.Cv h1 {
  font-size: 100px;
  font-weight: 900;
  font-family: "Montserrat", sans-serif;
  color: var(---basedark);
  letter-spacing: -6px;
}
.Cv h2 {
  font-size: 40px;
  font-weight: 900;
  font-family: "Montserrat", sans-serif;
  color: var(---baselight);
  letter-spacing: -2px;
}
.Cv h4 {
  font-size: 20px;
}
.Cv li {
  font-size: 18px;
}

.Cv .subheader {
  margin-left: 7px;
  font-size: 20px;
  color: var(---basedark);
  letter-spacing: 2px;
}
.Cv .highlightred {
  margin-left: 7px;
  font-size: 20px;
  font-weight: 400;
  color: var(---baselight);
  letter-spacing: 2px;
}
.Cv .cvimage {
  float: right;
  margin: 15px;
}
.Cv .downloadbutton {
  display: block;
  margin: 20px auto;
  padding: 5px 10px;
  box-shadow: 2px 1px 5px 1px #141c213b;
  border: none;
  border-radius: 10px;
  background-color: var(---basedark);
  font-size: 20px;
  font-weight: 100;
  color: var(---base);
  letter-spacing: 2px;
  text-decoration: none;
  transition: all 0.4s ease;
}
.Cv .downloadbutton:hover {
  background-color: var(---baselight);
  color: var(---base);
}
.Cv .sideSection ul {
  list-style: none;
}
