/* CSS checked x unchecked o 
redundant checked o unchecked x 
double css checked o unchecked x  */
.Footer {
  padding: 20px;
  background-color: var(---baselight);
  color: var(---base);
}
.Footer .footerlink {
  color: var(---basedark);
}
.Footer .footerlink:hover{
  background-color: var(---base);
  color: var(---baselight)
}