.Home {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  text-align: center;
}

.Home .homepage {
  max-width: 100%;
  margin: 0;
  padding: 0;
}

.Home .hero {
  min-height: 600px;
  margin-top: -100px;
  padding: 170px 0 100px 0;
  background-image: conic-gradient(
      at calc(100% - 1px) calc(100% - 1px),
      #106bb720 270deg,
      rgba(0, 0, 0, 0) 0
    ),
    conic-gradient(
      at calc(100% - 1px) calc(100% - 1px),
      #106cb790 270deg,
      rgba(255, 0, 0, 0) 0
    );
  background-size: 100px 100px, 20px 20px;
}

.Home .hero h1 {
  margin-top: 30px;
  font-size: 120px;
  font-weight: 900;
  font-family: "Montserrat", sans-serif;
  color: var(---basedark);
  letter-spacing: -7px;
}
.Home .hero h2 {
  font-size: 50px;
  color: var(---baselight);
}
.Home .hero h3 {
  font-size: 40px;
}

.Home .hero button {
  display: inline-block block;
  margin: 20px;
  padding: 5px 10px;
  border: 1px solid var(---basedark);
  border-radius: 10px;
 box-shadow: 2px 1px 5px 1px #4e59612f;
  background-color: var(---base);
  font-size: 20px;
  color: var(---basedark);
  transition: all 0.3s ease;
}
.Home .hero a {
  color: var(---basedark);
  text-decoration: none;
  transition: all 0.3s ease;
}

.Home .hero button:hover {
  background-color: var(---baselight);
  color: var(---base);
}
.Home .hero a:hover {
  color: var(---base);
}
/*  */
.Home .aboutsection{
  margin-bottom: 50px;
}
.Home .aboutsection .profilepicture {
  height: 650px;
  filter: drop-shadow(-25px -20px 1px var(---baselight));
  z-index: -10;
}
.Home .aboutsection .abouttext {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}
.Home .aboutsection .abouttext p {
  padding: 90px 120px 0 140px;
  font-size: 30px;
}
.Home .aboutsection .abouttext button {
  display: inline-block;
  margin: 0 auto;
  padding: 0 20px 4px 20px;
  border: none;
  background-color: #00000000;
  color: var(---baselight);
}

.Home .aboutsection .abouttext button:hover {
  border: none;
  background-color: var(---baselight);
  color: var(---base);
}

.Home .aboutsection .abouttext .codesnippet {
  position: relative;
  margin: 40px 0 0 80px;
  height: 360px;
  z-index: 1;
}
.Home .aboutsection .abouttext .codesnippet:hover {
cursor: pointer;
}
/*  */
.Home .projectsection {
  background-color: var(---basedark);
  color: var(---base);
   padding-bottom: 40px;
}
.Home .projectsection p{
  margin-bottom: 50px;
 
}
.Home .projectsection img{
  max-width: 50%;
}
.Home .projectsection div{ margin: -10px;
align-items: center;
}