.Homepage {
  text-align: center;
}
.heading {
  color: var(---secondary);
  margin-top: 30px;
  font-weight: 700;
  font-size: 50px;
  font-family: "Josefin Sans", sans-serif;
}

.Homepage h1 {
  position: relative;

  letter-spacing: 7px;
  overflow: hidden;
  border-right: 2px solid black;
  white-space: nowrap;
  animation: typewriter 4s steps(30) 1.2s 1 normal both,
    blinkTextCursor 700ms infinite;
}
