/* @import url("https://fonts.googleapis.com/css2?family=Edu+NSW+ACT+Foundation:wght@500&display=swap"); */

.Home {
  text-align: center;
}
.Home h1 {
  position: relative;
  letter-spacing: 7px;
  overflow: hidden;
  border-right: 2px solid black;
  white-space: nowrap;
  animation: typewriter 4s steps(30) 1.2s 1 normal both,
    blinkTextCursor 700ms infinite;
}
.Home main {
  height: 800px;
}
.Home .container {
  max-width: 100%;
  margin: 0;
  padding: 0;
}
.Home .hero {
  min-height: 600px;
  margin-top: -100px;
  padding: 170px 0 100px 0;
  background-color:#d5e4ca;
background: linear-gradient(
      172deg,
      rgba(0, 0, 0, 0.1) 0%,
      rgb(0, 0, 0, 0.1) 100%
    ),
    url("../media/backgroundspeckles.png");
  background-repeat: no-repeat;
  background-size: cover;
}

.Home .divider img {
  position: absolute;
  left: -1px;
  top: 450px;
  max-height: 400px;
  width: 100%;
}
.Home .heading {
  margin-top: 30px;
  color: var(---secondary);
  font-family: "Josefin Sans", sans-serif;
  font-size: 50px;
  font-weight: 700;
}

.Home .hero button {
  display: inline-block block;
  margin: 20px;
  background-color: #ffffff42;
  border: none;
  box-shadow: 1px 0px 11px 3px #61808533;
  padding: 5px 10px;
  border-radius: 7px;
}
.Home .hero a {
  color: black;
  text-decoration: none;
  transition:    all 8s ease;
}

.Home .hero button:hover {
  color: var(---baselight);
  background-color: #c9f8ff9b;
}
/*  */
.Home .aboutsection {
 
  background-color: #b2d0d7;
  padding: 200px 60px 60px 60px;
}

.Home .aboutsection img {
  height: 250px;
}
.child-two {
  background-color: pink;
}
