/* @import url("https://fonts.googleapis.com/css2?family=Edu+NSW+ACT+Foundation:wght@500&display=swap"); */

.Homepage {
  text-align: center;
}
.Homepage h1 {
  position: relative;
  letter-spacing: 7px;
  overflow: hidden;
  border-right: 2px solid black;
  white-space: nowrap;
  animation: typewriter 4s steps(30) 1.2s 1 normal both,
    blinkTextCursor 700ms infinite;
}
.Homepage main {
  height: 800px;
}
.Homepage .container {
  max-width: 100%;
  margin: 0;
  padding: 0;
}
.Homepage .hero {
  min-height: 600px;
  margin-top: -100px;
  padding: 170px 0 100px 0;
  background: url("../media/blue.png");
}

.Homepage .divider img {
  position: absolute;
left: -44px;
top: 400px;
  height: 400px;
  z-index: 0;
  
}
.Homepage .heading {
  margin-top: 30px;
  color: var(---secondary);
  font-family: "Josefin Sans", sans-serif;
  font-size: 50px;
  font-weight: 700;
}

.Homepage .hero button {
  display: inline-block block;
  margin: 20px;
  background-color: #b1cdd17e;
  border: none;
  box-shadow: 1px 0px 11px 3px #61808533;
  padding: 5px 10px;
  border-radius: 7px;
}
.Homepage .hero button:hover {
  color: var(---baselight);
  background-color: #c9f8ff9b;
}
/*  */
.Homepage .aboutsection {
  background: linear-gradient(
      172deg,
      rgba(255, 255, 255, 0.7) 0%,
      rgba(255, 255, 255, 0.7) 100%
    ),
    url("../media/blue.png");
  background-color: #b2d0d7;
  padding: 60px;
}

.Homepage .aboutsection img {
  height: 250px;
}
.child-two {
  background-color: pink;
}
