nav {
  box-shadow: 3px 3px 10px rgba(0, 0, 0, 0.237);
  background-image: linear-gradient(
    to bottom,
    #ffffffe7,
    #ffffff55,
    #ededed30,
    #ffffff13,
    #00000000
  );
  position: sticky;
  top: 0;
  height: fit-content;
  padding: 5px;
  z-index: 10;
}
nav a {
  color: black;
  padding: 5px;
  text-decoration: none;
}
nav a:hover {
  color: var(---baselight);
  padding: 5px;
  text-decoration: none;
}
nav img {
  height: 60px;
  padding: 0;
  margin: 0;
}

button {
  display: inline-block block;

  margin: 20px;
  background-color: #ffffff37;
  border: none;
  box-shadow: 1px 0px 11px 3px #61808533;
  padding: 5px 10px;
  border-radius: 7px;
}
button:hover {
  background-color: #c9f8ff9b;
}
.navigation a.active {
  color: white;
 
}

