/* CSS checked O unchecked X */

.Navbar nav {
  position: sticky;
  top: 0;
  height: fit-content;
  padding: 7px 0;
  box-shadow: 3px 3px 10px rgba(0, 0, 0, 0.237);
  background-image: linear-gradient(
    to bottom,
    #fffcec,
    #fffcece0,
    #fffceccc,
    #fffcecba,
    #fffcec90
  );
  z-index: 10;
}
.Navbar nav a {
  color: black;
  padding: 5px;
  text-decoration: none;
  letter-spacing: 2px;
}
.Navbar nav a:hover {
  color: var(---baselight);
  text-decoration: none;
}
.Navbar nav img {
  margin: -5px 0 0 5px;
  height: 45px;
}

.Navbar .navbutton {
  margin-left: 5px;
  padding: 4px 4px;
  display: inline-block block;
  background-color: #ffffff37;
  border: 2px solid var(---basedark);
}

.Navbar .navbutton:hover {
  background-color: var(---basedark);
  color: var(---base);
}
.Navbar .navigation a.active {
  font-weight: 900;
  color: var(---basedark);
  letter-spacing: 1px;
}
