.Projects {
  background-color: var(---basedark);
}
.Projects .projectspage {
  margin-top: -140px;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  text-align: center;
}
.Projects .projectspage h1 {
  margin: 140px 0 80px 10px;

  font-size: 120px;
  color: var(---base);
  font-weight: 900;
  font-family: "Montserrat", sans-serif;
  text-align: left;
  letter-spacing: -7px;
}
.Projects .card {
  max-width: 280px;
  display: inline-block;
  background-color: var(---base);
  padding: 20px;

  margin-bottom: 40px;
  outline: 5px solid var(---baselight);
  outline-offset: -10px;
}
