.container {
 min-height: 100vh;
 display: flex;
 flex-direction: column;
 padding: 0;
}


nav {
  padding: 20px;

  background-color: pink;
}
nav a {
  color: aquamarine;
  padding: 5px;
}
.red {
  color: red;
}
