

nav {
  padding: 20px;

  background-color: pink;
}
nav a {
  color: green;
  padding: 5px;
}div .container {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}
.red {
  color: red;
}
#navbar a.active {
  color: azure;
}
